<?xml version="1.0" encoding="UTF-8"?>
<configuration>

 

	<system.web>
		<!-- other settings -->
		<httpRuntime maxRequestLength="1073741824" /> <!--2500 MB-->
		 <customErrors mode="Off"/>
	</system.web>
   
   <system.webServer>
        <security>
            <!--  This section should be uncommented after
            installation to secure the installation. -->
            
            <requestFiltering>
				<requestLimits maxAllowedContentLength="2621440000" />				
                <!--<denyUrlSequences>
                    <add sequence="engine" />
                    <add sequence="inc" />
                    <add sequence="info" />
                    <add sequence="module" />
                    <add sequence="profile" />
                    <add sequence="po" />
                    <add sequence="sh" />
                    <add sequence="theme" />
                    <add sequence="tpl(\.php" />
                    <add sequence="Root" />
                    <add sequence="Tag" />
                    <add sequence="Template" />
                    <add sequence="Repository" />
                    <add sequence="code-style" />
                </denyUrlSequences>
                <fileExtensions>
                    <add fileExtension=".sql" allowed="false" />
                    <add fileExtension=".pl" allowed="false" />
                </fileExtensions>
				-->
            </requestFiltering>
            
        </security>
        
       <rewrite>
		 <rules>
			 <rule name="Main Rule" stopProcessing="true">
				 <match url=".*" />
				 <conditions logicalGrouping="MatchAll">
					 <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					 <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
				 </conditions>
				 <action type="Rewrite" url="index.php/{R:0}" />
			 </rule>
		 </rules>
		</rewrite>
        

        <!-- HTTP Errors section should only be enabled if the "Error Pages"
        feature has been delegated as "Read/Write" at the Web Server level.
           <httpErrors>
               <remove statusCode="404" subStatusCode="-1" />
               <error statusCode="404" prefixLanguageFilePath="" path="/index.php" responseMode="ExecuteURL" />
           </httpErrors>
        -->
		 <staticContent>
			<remove fileExtension=".svg" />
			<remove fileExtension=".eot" />
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml"  />
			<mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
			<mimeMap fileExtension=".woff" mimeType="application/x-woff" />
		</staticContent>
    </system.webServer>
</configuration>




