@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
body {
    overflow-x: hidden;
    overflow-y: scroll;
    background: #f1f1f1;
    color: #414a51;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    padding-top: 111px;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.hidden-sm {
    display: none !important;
}

.gn-menu-main {
    display: none;
}

.navbarlogo img {
    transition: all .3s ease;
    max-height: 55px;
    padding-top: 5px;
}

.no-touch .gn-menu-main a.nohover:hover {
    background: transparent !important;
    color: rgba(51, 51, 51, 0)!important;
    border: 0;
}

.no-touch .gn-menu-main li.bigdevice {
    border-right: 0 !important;
}

.gn-menu-main>li.bigdevice:last-child {
    border-left: 0 !important;
    width: calc(100% - 60px);
}


/*Navbar CSS*/

.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 25px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #fff;
}

.navbar-default.active .navbar-nav>li>a:hover,
.navbar-default.active .navbar-nav>li>a:focus {
    color: #000;
}

.navbar-default .navbar-nav>li>a.getstartedheader {
    border: 1px solid #414a51;
    height: 40px;
    margin-top: 11px;
    margin-right: 15px;
    color: #fff;
    background: #0d515a;
    padding-top: 9px;
    border-radius: 3px;
    padding-left: 16px;
    padding-right: 15px;
}

.navbar-default.active .navbar-nav>li>a.getstartedheader {
    background: #02bad2;
    color: #fff;
    border-color: #05adc3;
}

.navbar-default .whitelogo {
    display: inline-block;
}

.navbar-default .coloredlogo {
    display: none;
}

.navbar-default.active .whitelogo {
    display: none;
}

.navbar-default.active .coloredlogo {
    display: inline-block;
}

.navbar-default {
    border-color: #1db0c3;
    background: #1fbbd0;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.navbar-default.active {
    background-color: #fff;
    border-color: #ddd;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}

.navbar-default.active .navbarlogo img {
    max-height: 72px;
    padding-top: 5px;
    margin-top: 14px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}


/*
.navbar-default .navbar-nav>li>a {
    color: inherit;
       -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
*/

.navbar-nav>li>.dropdown-menu {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDownSmall;
    animation-name: fadeInDownSmall;
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    min-width: 240px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding: 0;
    margin: 0;
    background-color: #fafafa;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
    border: 1px solid #f1f1f1;
    z-index: 101;
}


/*
.navbar-nav>li>.dropdown-menu {
        -webkit-animation-duration: .5s;
            animation-duration: .5s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
         }
*/

@-webkit-keyframes fadeInDownSmall {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fadeInDownSmall {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInDownSmall {
    -webkit-animation-name: fadeInDownSmall;
    animation-name: fadeInDownSmall;
}

.navbar-nav>li>.dropdown-menu a {
    padding: 12px 20px;
    font-size: 15px;
    border-bottom: 1px solid #f1f1f1;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: transparent;
}

.navbar-default.active .navbar-nav>.open>a,
.navbar-default.active .navbar-nav>.open>a:focus,
.navbar-default.active .navbar-nav>.open>a:hover {
    color: #444;
    background-color: transparent;
}

.navbar-default.active .navbar-nav>li>a {
    border-color: #ddd;
    background: transparent;
    color: #333;
}

.gn-menu-main .whitelogo {
    display: inline-block;
}

.gn-menu-main .coloredlogo {
    display: none;
}

.gn-menu-main.active .whitelogo {
    display: none;
}

.gn-menu-main.active .coloredlogo {
    display: inline-block;
}

.gn-menu-main {
    border-color: #1db0c3;
    background: #1fbbd0;
}

.gn-menu-main.active {
    border-color: #ddd;
    background: #fff;
}

.gn-menu-main.active .gn-icon-menu::before {
    background: #1fbbd0;
    box-shadow: 0 3px #fff, 0 -6px #1fbbd0, 0 -9px #ffffff, 0 -12px #1fbbd0 !important;
}

.gn-menu-main.active .gn-icon-menu:hover::before,
.gn-menu-main.active .gn-icon-menu.gn-selected:hover::before {
    background: #1fbbd0;
    box-shadow: 0 3px #fff, 0 -6px #1fbbd0, 0 -9px #ffffff, 0 -12px #1fbbd0 !important;
}

.gn-menu-main.active .gn-icon-menu.gn-selected::before {
    background: #1fbbd0;
    box-shadow: 0 3px #fff, 0 -6px #1fbbd0, 0 -9px #ffffff, 0 -12px #1fbbd0 !important;
}

.no-touch .gn-menu-main.active a:hover {
    background: #0f8494;
    color: white;
    border: 1px solid #0c7988;
}

.gn-menu-main.active>li {
    border-right: 1px solid #fff;
}

a.gn-icon.gn-icon-menu.btntrigger {
    background: rgb(2, 186, 210) !important;
    color: white!important;
    border: 0!important;
    text-decoration: none!important;
}

.gn-trigger a.gn-icon.gn-icon-menu.btntrigger:before {
    background: #ffffff;
    box-shadow: 0 3px #1fbbd0, 0 -6px #ffffff, 0 -9px #1fbbd0, 0 -12px #ffffff !important;
}

.gn-trigger a.gn-icon.gn-icon-menu.btntrigger:hover::before,
.gn-trigger a.gn-icon.gn-icon-menu.btntrigger:focus::before {
    background: #ffffff;
    box-shadow: 0 3px #1fbbd0, 0 -6px #ffffff, 0 -9px #1fbbd0, 0 -12px #ffffff !important;
}

.gn-trigger a.gn-icon.gn-icon-menu.btntrigger.gn-selected::before {
    background: #ffffff;
    box-shadow: 0 3px #1fbbd0, 0 -6px #ffffff, 0 -9px #1fbbd0, 0 -12px #ffffff !important;
}


/*Banner Wrapper Start*/

.pagebanner {
    background: #fff;
    position: relative;
}

.bannersmaltext {
    font-weight: 300;
}

.pagebanner .carousel-inner {}

.pagebanner .glyphicon-chevron-left:before,
.pagebanner .glyphicon-chevron-right:before {
    opacity: 0;
    transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
}

.pagebanner:hover .glyphicon-chevron-left:before,
.pagebanner:hover .glyphicon-chevron-right:before {
    opacity: 1;
}

.glyphicon-chevron-left:before,
.glyphicon-chevron-right:before {
    content: "\f104";
    height: 50px;
    width: 50px;
    background: #4c4a4a;
    display: inline-block;
    border-radius: 50%;
    font-size: 40px;
    text-align: center;
    padding: 4px 6px 4px 1px;
    text-shadow: none;
    font-family: fontawesome;
}

.glyphicon-chevron-right:before {
    content: "\f105";
    padding: 4px 0px 4px 5px;
    font-family: fontawesome;
}

.itemtwobg {
    background-image: url(../img/banner2bg.jpg);
    background-size: cover;
}

.itemonebg {
    background-image: url(../img/banner1bg.jpg);
    background-repeat: repeat;
}

.pagebanner .carousel-control.left:hover .glyphicon-chevron-left:before,
.pagebanner .carousel-control.right:hover .glyphicon-chevron-right:before {
    background: #1fbbd0;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}

.pagebanner .bannerfeature1 {
    position: relative;
}

.pagebanner .bannerfeature1 img {
    margin-top: 75px;
}

.featuresbannerlist {
    padding-top: 79px;
}

.featuresbannerlist h1 {
    margin-top: 0;
    color: #333;
}

.featuresbannerlist h2 {
    font-size: 29px;
    color: #fff;
    font-weight: 300;
    background: #1fbbd0;
    padding: 5px 0 8px;
    text-align: center;
    border-radius: 20px;
}

.featuresbannerlist ul {
    list-style: none;
    padding-top: 20px;
}

.featuresbannerlist li {
    position: relative;
    text-align: right;
    display: table;
    margin-bottom: 10px;
    width: 100%;
}

.featuresbannerlist li span {
    display: inline-block;
    height: 35px;
    background: #e6edf5;
    float: right;
    padding: 7px 12px;
    border: 1px solid #ddd;
    color: #2a2b2b;
    position: relative;
}

.featuresbannerlist li i {
    position: relative;
    width: 43px;
    background: #1fbbd0;
    height: 35px;
    text-align: center;
    float: right;
}

.featuresbannerlist li i:before {
    content: "";
    height: 12px;
    width: 22px;
    border-bottom: 4px solid #fff;
    border-left: 4px solid #fff;
    display: inline-block;
    transform: rotate(-41deg);
    position: absolute;
    left: 11px;
    top: 8px;
}


/*Banner Wrapper Start End*/


/*Get Started Now*/

.pageimplinks {
    background: #fff;
    min-height: 100px;
    display: table;
    width: 100%;
    padding: 30px 0px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 1px 12px 2px #cecece;
}

.getstartwrapper {
    text-align: center;
}

.getstartwrapper .title {
    margin-top: 0;
    font-size: 38px;
    font-weight: 700;
    color: #343434;
    line-height: 1.2;
}

.getstartwrapper p {
    margin-bottom: 20px;
}

.getstartwrapper .btn.btn-default {
    background: #02bad2;
    color: #fff;
    font-size: 19px;
    border-color: #03afc5;
    padding: 12px 15px;
}

.getstartwrapper .btn.btn-default:hover {
    text-decoration: none;
    outline: none;
    background: #04a2b7;
    color: #fff;
    border-color: #068898;
}


/*Get Started Now end*/


/*feature section*/

.featuresection {
    padding: 60px 0 40px;
    text-align: center;
}

.featuresection .title {
    color: #005d69;
    display: inline-block;
    position: relative;
}

.featuresection .title:after {
    content: "";
    height: 5px;
    width: 80px;
    background: #02bad2;
    border-left: 25px solid #005d69;
    border-right: 25px solid #005d69;
    position: absolute;
    bottom: -10px;
    border-radius: 5px;
    left: calc(50% - 40px);
}

.featuresection .subtitle, .subtitle {
    font-size: 23px;
    margin-top: 9px;
    font-weight: 300;
}
.subtitle
{line-height: 1.2em;    font-size: 32px;}
.featureinner {
    background: #fff;
    display: table;
    width: 100%;
    padding: 20px;
    margin-top: 40px;
    border-radius: 4px;
}

.featureinner {
    font-family: 'Roboto', sans-serif;
    display: block;
    background: #fff;
    position: relative;
    text-align: center;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.featureinner:after {
    box-shadow: 0 0 0 3px #02bad2;
    box-sizing: content-box;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: scale(0.8);
    transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
    width: 100%;
}

.featureinner:hover i {
    color: #02bad2;
}

.featureinner:hover .btntheme i {
    color: #fff;
}

.featureinner:hover:after {
    opacity: 1;
    transform: scale(1);
}

.featureinner figure img {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    filter: grayscale(100%);
}

.featureinner:hover figure img {
    filter: grayscale(0%);
}

.featureinner .titleinner {
    font-weight: 400;
    font-size: 26px;
    color: #444;
    transition: all .3s linear;
}

.featureinner:hover .titleinner {
    color: #02bad2;
}

.featureinner .subtitleinner {
    font-size: 17px;
    line-height: 1.3;
    margin-top: 0;
    font-weight: 300;
    font-family: sans-serif;
}




/*feature section end*/


/*why trackance*/

.featuresection.whyus .subtitle {
    line-height: 1.2;
}

.featuresection.whyus .whyusimage {
    margin-top: 40px;
}

.featuresection.whyus {
    padding: 40px 0;
    text-align: center;
    background: #fafafa;
}

.tabfeaturewrapper {
    display: table;
    width: 100%;
}

.tabfeatures {}

.tab-content>.active {
    -webkit-box-shadow: none;
    border: 1px solid #eee!important;
    box-shadow: none;
    background: #fff;
    outline: none;
    padding: 30px 15px;
    background-image: url(../img/tabbg.png);
    background-size: cover;
}

.tab-content>.active h1 {
    font-weight: 400;
    margin-top: 12px;
    font-size: 2.1em;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 15px;
}

.tabfeatures .nav-tabs>li {
    float: left;
    margin-bottom: 0px;
    width: 20%;
    display: inline-block;
}

.tabinnercontent .list-icons,
.list-icons.listswithicon {
    list-style: none;
}

.tabinnercontent .list-icons li,
.list-icons.listswithicon li {
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    padding: 5px 0;
    text-align: left;
    position: relative;
    padding-left: 16px;
}

.tabinnercontent .list-icons li i,
.list-icons.listswithicon li i {
    width: 25px;
    text-align: center;
    padding-right: 10px;
}

.tabinnercontent .list-icons li i:before,
.list-icons.listswithicon li i:before {
    content: "";
    height: 7px;
    width: 14px;
    border-bottom: 2px solid #02bad2;
    border-left: 2px solid #02bad2;
    display: inline-block;
    transform: rotate(-41deg);
    position: absolute;
    left: 0px;
    top: 13px;
}

.tabfeatures .nav-tabs>li>a {
    line-height: 1.42857143;
    border-radius: 0;
    background: #eee;
    color: #444;
    padding: 14px 15px;
    font-weight: 300;
    font-size: 17px;
    font-family: sans-serif;
    border: 1px solid #ddd;
    border-bottom: 0;
    border-right: 1px solid #ddd !important;
    border-left: 1px solid #ddd !important;
    margin-right: -1px !important;
}

.tabfeatures .nav-tabs>li.active>a,
.tabfeatures .nav-tabs>li.active>a:focus,
.tabfeatures .nav-tabs>li.active>a:hover {
    color: #fff !important;
    background-color: #02bad2 !important;
    border: 0;
    border-bottom-color: transparent;
    border-bottom: 1px solid #02bad2 !important;
    position: relative;
}

.tabfeatures .nav-tabs>li.active>a:before,
.tabfeatures .nav-tabs>li.active>a:focus:before,
.tabfeatures .nav-tabs>li.active>a:hover:before {
    content: "";
    content: "";
    border-style: solid;
    border-width: 15px;
    border-color: rgb(2, 186, 210) transparent transparent transparent;
    position: absolute;
    left: calc(50% - 7px);
    bottom: -29px;
    display: block;
    width: 0;
    height: 0;
    z-index: 2;
}

.tabfeatures .nav-tabs>li>a:hover {
    background: #fff !important;
    color: #8f8f8f !important;
}

.tabinnercontent {
    min-height: 316px;
}

.tabinnercontent a,
.btntheme {
    color: #fff;
    background: #02bad2;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 400;
    padding: 11px 15px;
    border-radius: 2px;
        display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.tabinnercontent a:before,
.btntheme:before
{
        pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}
.tabinnercontent a:hover:before,
.btntheme:hover:before
{
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
}
.tabinnercontent a {
    margin-top: 15px;
    display: inline-block;
}

.btntheme {
    display: inline-block;
    margin: 15px auto 20px;
    
}
.btntheme.white {
    background: #fafafa;
    border-color: #ddd;
    color: #333;
}
.btntheme.white:hover, .btntheme.white:focus
{ background: #eee;color: #333;    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); outline: none;}
.btntheme:hover i {
    color: #fff;
}

.tabinnercontent a:hover,
.btntheme:hover,
.btntheme:focus .tabinnercontent:focus {
    background: #06a3b7;
    color: #fff;
    text-decoration: none;
    outline: none;
        -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    outline: none;
}

.tabinnercontent p {
    font-size: 16px;
    line-height: 1.5;
    color: #666666;
    padding: 5px 0;
    text-align: left;
    position: relative;
    padding-left: 16px;
    font-family: sans-serif;
    font-weight: 300;
}


/*why trackance end*/


/*Testimonial*/

.testimonial {
    padding: 50px 0;
}

.testimonialprofilepic {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 0 auto;
    padding: 3px;
    box-sizing: border-box;
    border: 2px dashed #02bad2;
}
.testimonialprofilepic.small {
    width: 80px;
    height: 80px;
    border: 1px dashed #02bad2;
}

.testimonialprofilecontent {
    font-size: 17px;
    font-weight: 300;
    font-family: sans-serif;
    padding: 20px;
    padding-bottom: 10px;
    position: relative;
    margin: 0;
}

.testimonialprofilecontent:before {
    content: "\f10d";
    position: absolute;
    top: 0;
    font-family: fontawesome;
    left: -6px;
    font-size: 24px;
    color: #02bad2;
}

.testimonial {
    background: #fff;
}

.carousel-indicators li {
    border: 1px solid #02bad2;
}

.carousel-indicators .active {
    background-color: #02bad2;
}

.clientnametesti {
    margin: 0;
    padding-bottom: 67px;
    font-size: 17px;
    padding-left: 20px;
    font-weight: 300;
    font-family: sans-serif;
    color: #9da2a2;
}

.clientnametesti span {
    display: block;
    color: #b5b5b5;
    margin-top: 4px;
    font-size: 17px;
    font-weight: 400;
}

a.scrolltop {
    height: 40px;
    width: 40px;
    position: fixed;
    background: rgba(72, 74, 74, 0.58);
    bottom: 22px;
    right: 6px;
    color: #fff;
    font-size: 31px;
    text-align: center;
    border-radius: 4px;
    display: none;
    transition: all .3s ease;
}

a.scrolltop.active {
    display: block !important;
}

a.scrolltop:hover,
a.scrolltop:focus {
    background: #02bad2;
    text-decoration: none;
    color: #fff;
}


/*Testimonial End*/


/*header top*/

.header-top {
    float: right;
    display: block;
    width: 50%;
    transition: all .3s ease;
}

.header-top a {
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
    padding: 5px 11px 6px;
    color: #7d7c7c;
    margin-bottom: 6px;
    font-family: sans-serif;
    font-weight: 400;
    position: relative;
}

.header-top a:hover,
.header-top a:focus {
    text-decoration: none;
    color: #7d7c7c;
}

.header-top a.call {
    color: #438eb9;
    font-size: 17px;
    padding-left: 19px;
}

.header-top a.call:before {
    content: "";
    position: absolute;
    left: -92px;
    width: 107px;
    height: 37px;
    background-image: url(../img/call.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar-default.active.down .navbarlogo img {
    max-height: 55px;
    padding-top: 5px;
    margin-top: 0!important;
}

.navbar-default.active.down .header-top {
    margin-top: -85px !important;
}

.mobileappsection {}

.mobileappsection h1 {
    font-weight: 400;
    margin-top: 70px;
    font-size: 2.1em;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 15px;
}
.mobileappsection.contacth h1
{margin-bottom: 0;padding-left: 0;}
.mobileappsection.contacth p
{padding-left: 0;}
.mobileappsection.contacth p a
{font-size: 17px;
    line-height: 1.5;
    color: #02bad2;
    padding: 5px 0;
    text-align: left;
    position: relative;
    padding-left: 16px;
    font-family: sans-serif;
    font-weight: 300;
    padding-left: 0;}
.mobileappsection.contacth p a span
{color: gray;
    min-width: 58px;
    display: inline-block;
    text-align: left;
    padding-right: 5px;
    border-right: 1px solid #eee;}
.mobileappsection.contacth p.address, .mobileappsection.contacth p.phone, .mobileappsection.contacth p.fax, .mobileappsection.contacth p.email
{    padding-left: 38px;
    position: relative;}
.mobileappsection.contacth p.address:before, .mobileappsection.contacth p.phone:before, .mobileappsection.contacth p.fax:before, .mobileappsection.contacth p.email:before
{    font-family: fontawesome;
    color: #02bad2;
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 3px;
    width: 29px;
    text-align: center;
    height: 30px;
    background: #fafafa;
    line-height: 29px;
    border: 1px solid #eee;}
.mobileappsection.contacth p.address:before
{content: "\f041";}
.mobileappsection.contacth p.phone:before
{    content: "\f095";}
.mobileappsection.contacth p.fax:before
{content: "\f1ac";}
.mobileappsection.contacth p.email:before
{content: "\f003";}
.mobileappsection p {
    font-size: 16px;
    line-height: 1.5;
    color: #666666;
    padding: 5px 0;
    text-align: left;
    position: relative;
    padding-left: 16px;
    font-family: sans-serif;
    font-weight: 300;
}
.addressblock
{}
.addressblock h3
{    font-weight: 400;
    text-align: left;
    
    color: #02bad2;}
.contacts a.sociallinks {
  

    border: 0;
    text-align: center;
    font-size: 25px;
    line-height: 40px;
margin-top: 30px;
}
.addressblock p
{text-align: left;
    padding-left: 0;}

.mobileappsection p a {}

.btngoogleplay {
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
}

.btngoogleplay button {
    border-radius: 2px;
    border-radius: 2px;
    font-family: Roboto, sans-serif;
    border: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    padding: 6px 20px;
    padding-left: 10px;
    margin: inherit;
    background-color: #02bad2;
    color: #FFF;
    margin-right: 20px!important;
    box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.18);
}

.btngoogleplay button img {
    float: left;
    margin-right: 8px;
    margin-top: 5px;
    max-width: 100%;
    height: 28px;
}

.btngoogleplay .wrapperbtn {
    float: right;
}

.btngoogleplay .wrapperbtn .text {
    font-size: 15px;
    font-weight: 400;
    text-align: left;
}

.btngoogleplay .wrapperbtn .where {
    font-size: 16px;
    font-weight: 500;
}

.promotions {
    background: #fafafa;
    padding: 40px 0 100px;
}

.promotions .prom-inner {
    background: #ffffff;
    border-radius: 5px;
    padding-bottom: 15px;
    background-image: url(../img/graybg.png);
    background-repeat: repeat;
    display: table;
    width: 100%;
    position: relative;
    padding-top: 14px;
}

.promotions .prom-inner:after {
    width: 100%;
    left: 0;
    height: 30px;
    content: "";
    background-image: url(../img/shadow.png);
    background-repeat: no-repeat;
    position: absolute;
    bottom: -31px;
    background-size: 100% 20px;
}

.promotions .prom-inner h1 {
    font-size: 22px;
}


/*footer CSS*/

.footer-top {
    min-height: 200px;
    background-color: #eee;
    padding: 30px 0;
    background-image: url(../img/graybg.png);
    background-repeat: repeat;
}

.footer-top .graylogo {
    margin-bottom: 30px;
}

.footer-bottom {
    background: #e8e8e8;
    border-top: 1px solid #dcdcdc;
    min-height: 20px;
    padding: 8px 0;
}

.footersections {}

.footersections h3 {
    font-weight: 400;
    font-size: 20px;
    margin-top: 0;
    color: #333;
}

.footersections ul {
    padding: 0;
    list-style: none;
}

.footersections ul li {}

.footersections ul li a {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #888888;
    display: block;
    padding: 4px 0;
    position: relative;
    padding-left: 15px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}

.footersections ul li a:hover,
.footersections ul li a:focus {
    color: #02bad2;
    text-decoration: none;
    padding-left: 20px;
}

.footersections ul li a:after {
    content: "\f105";
    font-family: fontawesome;
    left: 0;
    position: absolute;
    top: 3px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}

.footersections a.btngoogleplay {
    margin-bottom: 30px;
}

.footersections ul li a:hover:after {
    transform: rotate(-180deg);
}

a.sociallinks {
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 23px;
    line-height: 40px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}

a.sociallinks:hover,
a.sociallinks:focus {
    background: #fff;
    text-decoration: none;
    outline: none;
}

a.sociallinks.tw:hover i,
a.sociallinks.tw:focus i {
    color: #55acee;
}

a.sociallinks.fb:hover i,
a.sociallinks.fb:focus i {
    color: #3b5998;
}

a.sociallinks.sk:hover i,
a.sociallinks.sk:focus i {
    color: #00aff0;
}

a.sociallinks.gp:hover i,
a.sociallinks.gp:focus i {
    color: #dd4b39;
}

a.sociallinks.yt:hover i,
a.sociallinks.yt:focus i {
    color: #b31217;
}

a.sociallinks.pn:hover i,
a.sociallinks.pn:focus i {
    color: #cb2027;
}

.bottomcopyright {
    margin-bottom: 0;
    font-size: 15px;
    color: #969494;
    font-family: sans-serif;
    padding: 11px 10px 4px;
}


/*Login page */

.loginwrapper {
    background: #eee url(../img/bglogin.png);
    background-size: cover;
    /*    background: #eee url(http://subtlepatterns.com/patterns/sativa.png);*/
    margin-top: -60px;
    min-height: 670px;
}

.registrationTitle {
    text-align: center;
    margin-top: 75px;
    font-weight: 400;
    color: #333;
}

.arrowsignup {}

.loginterm {
    font-size: 14px;
    line-height: 17px;
    margin-top: 10px;
    font-family: sans-serif;
    color: #928f8f;
}

.loginterm a {
    font-weight: 300;
    color: #5bc0de;
}

.loginterm a:hover,
.loginterm a:focus {
    text-decoration: none;
    color: #5bc0de;
}

.loginwrapper .form-box {
    position: relative;
    z-index: 3;
}

.login-container {
    position: relative;
    width: 300px;
    margin: 120px auto 30px;
    padding: 20px 40px 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
}

#output {
    position: absolute;
    width: 300px;
    top: -75px;
    left: 0;
    color: #fff;
}

#output.alert-success {
    background: rgb(25, 204, 25);
}

#output.alert-danger {
    background: rgb(228, 105, 105);
}

.login-container::before,
.login-container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 3.5px;
    left: 0;
    background: #fff;
    z-index: 1;
    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    border: 1px solid #ccc;
}

.avatar {
    position: relative;
    z-index: 3;
    background-image: url('../img/avtar.png');
}

.login-container::after {
    top: 5px;
    z-index: 2;
    -webkit-transform: rotateZ(-2deg);
    -moz-transform: rotateZ(-2deg);
    -ms-transform: rotateZ(-2deg);
}

.avatar {
    width: 100px;
    height: 100px;
    margin: 10px auto 30px;
    border-radius: 100%;
    border: 2px solid #aaa;
    background-size: cover;
}

.form-box input {
    width: 100%;
    padding: 10px;
    text-align: center;
    height: 40px;
    border: 1px solid #ccc;
    ;
    background: #fafafa;
    transition: 0.2s ease-in-out;
}

.form-box input:focus {
    outline: 0;
    background: #eee;
}

.regissubtitle {
  color: #02bad2;
    font-weight: 400;
}

.form-box input[type="text"] {
    border-radius: 5px 5px 0 0;
/*    text-transform: lowercase;*/
}

.form-box input[type="password"] {
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

.form-box button.login {
    margin-top: 15px;
    padding: 10px 20px;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.logintestiProfile {
    border-radius: 100%;
    border: 1px dashed #02bad2;
    height: 60px;
    width: 60px;
}
.logintestiProfile.two
{    border-radius: 10px;
    border: 1px dashed #cacaca;
    height: 195px;
    width: 195px;
    margin-top: 20px;}

.testiwrapper {}
.testtextwrapper
{    padding: 0 15px; }
.logintestimonials {
    border: 1px solid #ddd;
    background: rgba(238, 238, 238, 0.81);
    padding: 10px;
    
    margin-top: 20px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 20px;
}

.logintestimonials:before, .logintestimonials:after {
       content: "";
    border-style: solid;
    border-width: 14px;
    width: 0;
    height: 0;
    position: absolute;
    left: -28px;
    top: 30px;
    border-color: transparent #cccccc transparent transparent;
}

.logintestimonials:after {
    left: -27px;
    border-color: transparent #eaebec transparent transparent;
}

.logintestimonials p {
    font-size: 16px;
    font-family: sans-serif;
    line-height: 18px;
    margin-bottom: 0;
}

.logintestimonials p span {}

.testiwrapper img {
    float: right;
    margin-top: 40px;
}


/*Login page end*/


/*Pricing*/
.content {
    padding: 30px 0;
}
.pricing .list-unstyled {
    padding-left: 0;
    list-style: none;
    background: #fff;
    margin-bottom: 0;
}
/***
Pricing table
***/
.pricing {
  position: relative;
  margin-bottom: 15px;
  border: 3px solid #eee;
}

.pricing-active {
border: 3px solid #02bad2;
    margin-top: -10px;
    box-shadow: 7px 7px rgba(54, 185, 215, 0.2);
}

.pricing:hover {
  border: 3px solid #02bad2;
}

.pricing:hover h4 {
  color: #02bad2;
}

.pricing-head {
  text-align: center;
}

.pricing-head h3,
.pricing-head h4 {
  margin: 0;
  line-height: normal;
}

.pricing-head h3 span,
.pricing-head h4 span {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  font-style: italic;
}

.pricing-head h3 {
    font-weight: 300;
    color: #fafafa;
    padding: 12px 0;
    font-size: 27px;
    background: #02bad2;
    border-bottom: solid 1px #02bad2;
}

.pricing-head h4 {
    color: #02bad2;
    padding: 5px 0;
    font-size: 54px;
    font-weight: 300;
    background: #e9fbff;
    border-bottom: solid 1px #e2f6fb;
}

.pricing-head-active h4 {
  color: #02bad2;
}

.pricing-head h4 i {
  top: -8px;
  font-size: 28px;
  font-style: normal;
  position: relative;
}

.pricing-head h4 span {
  top: -10px;
  font-size: 14px;
  font-style: normal;
  position: relative;
}

/*Pricing Content*/
.pricing-content li {
  color: #888;
  font-size: 12px;
  padding: 7px 15px;
  border-bottom: solid 1px #f5f9e7;
}

/*Pricing Footer*/
.pricing-footer {
  color: #777;
  font-size: 11px;
  line-height: 17px;
  text-align: center;
  padding: 0 20px 19px;
        background: #fff;
}

/*Priceing Active*/
.price-active,
.pricing:hover {
  z-index: 9;
}

.price-active h4 {
  color: #36d7ac;
}

.no-space-pricing .pricing:hover {
  transition: box-shadow 0.2s ease-in-out;
}

.no-space-pricing .price-active .pricing-head h4,
.no-space-pricing .pricing:hover .pricing-head h4 {
  color: #36d7ac;
  padding: 15px 0;
  font-size: 80px;
  transition: color 0.5s ease-in-out;
}

.usdpricing 
{font-weight: 300;
    font-size: 17px;
    margin-top: 30px;
    margin-bottom: 30px;}
.usdpricing a
{color: #02bad2;}
.usdpricing a:hover, .usdpricing a:focus 
{color: #02bad2;}
.bigtesi
{
    text-align: left;
    color: #676767;
}

.notice {
 padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    font-weight: 400;
    text-align: left;
    font-family: sans-serif;
}
.notice-sm {
    padding: 10px;
    font-size: 80%;
}
.notice-lg {
    padding: 35px;
    font-size: large;
}
.notice-success {
    border-color: #80D651;
}
.notice-success>strong {
    color: #80D651;
}
.notice-info {
    border-color: #fff;
}
.notice-info>strong {
    color: #45ABCD;
}
.notice-warning {
    border-color: #FEAF20;
}
.notice-warning>strong {
    color: #FEAF20;
}
.notice-danger {
    border-color: #d73814;
}
.notice-danger>strong {
    color: #d73814;
}
.wrapperkeypoints
{margin-top: 50px;}

/*go paperless*/
.bannerstatic
{min-height: 500px;background-image: url(../img/gopaper.png);background-size: cover;}
.bannerstatic.forContact
{min-height: 500px;background-image: url(../img/contactusbanner.png);background-size: cover;}
.bannerstatic h1
{margin-top: 125px;
    font-size: 3em;font-weight: 400;}
.bannerstatic h1 em
{        color: #2dc4da;
    font-weight: 400;
    font-style: normal;}
.bannerstatic h1 span
{          display: inline-block;
    color: #80ce07;
    font-size: 40px;
    margin-top: 15px;
    font-weight: 400;}
.bannerstatic h1 span:first-letter
{font-size: 1.5em;
    color: #02bad2;}

.bannerstatic.forContact h1
{    color: #fff;}
.bannerstatic.forContact h1 em{    color: #fff;}
.bannerstatic.forContact h1 span{    color: #fff;}
.bannerstatic.forContact h1 span:first-letter{color: #fff;font-size: inherit;}
.bannerstatic.forContact .subtitle
{    color: #eee;}
.howsavepaper
{margin-top: 45px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#02bad2+0,02bad2+50,ffffff+50,ffffff+100 */
background: #02bad2; /* Old browsers */
background: -moz-linear-gradient(top, #02bad2 0%, #02bad2 50%, #ffffff 50%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #02bad2 0%,#02bad2 50%,#ffffff 50%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #02bad2 0%,#02bad2 50%,#ffffff 50%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02bad2', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */}
.howsavepaper img
{border-radius: 32px 5px 0 0;}
.featuresection  .howsavepaper p.subtitle
{font-size: 17px;
    color: #787878;
    font-family: sans-serif;}
.whyuss .media {
    overflow: visible;
}
.whyuss .media-left {
    display: table-cell;
    vertical-align: top;
    padding-right: 10px;
    overflow: visible;
}
.whyuss .media span {
    background: #02bad2;
    font-family: Roboto,sans-serif;
    border-radius: 50%;
    display: block;
    height: 50px;
    position: relative;
    text-align: center;
    width: 50px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.whyuss .media span .fa {
    line-height: 50px;
    color: #fff;
        font-size: 27px;
}
.whyuss .media span:after {
    border-radius: 50%;
    box-shadow: 0 0 0 3px #02bad2;
    box-sizing: content-box;
    content: "";
    height: 100%;
    left: -4px;
    opacity: 0;
    padding: 4px;
    pointer-events: none;
    position: absolute;
    top: -4px;
    transform: scale(0.8);
    transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
    width: 100%;
}
.whyuss .media:hover span:after {
    opacity: 1;
    transform: scale(1);
}
.whyuss .media-body {
    display: table-cell;
    vertical-align: top;
    padding-right: 10px;
    overflow: visible;
}
.whyuss .media h5 {
    color: #02bad2;
    font-family: Roboto,sans-serif;
font-weight: 300;
    font-size: 21px;
    margin-top: 0;
    margin-bottom: 5px;
    line-height: 26px;
    text-align: left;
}
.whyuss .media p {
color: #7f7f7f;
    font-family: Roboto,sans-serif;
    margin: 0 0 11.5px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 300;
    text-align: left;
}
.red{
    color:red;
    }
.form-area
{
background-color: #FAFAFA;
    padding: 10px 40px 20px;
    margin: 50px 0px 20px;
    border: 1px solid #eee;
	}

/*blog page*/
.secondcontactsection {
    min-height: 750px;
    position: relative;
    background: #fff;
    padding: 30px 0 80px;
}
.posts {
margin-bottom: 50px;
    -webkit-border-radius: 0;
    position: relative;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.imagewrapper {
    background-size: cover;
    min-height: 200px;
    position: relative;
}
.blogHeader {
    padding: 0 10px;
}
.secondcontactsection .BlogTitle {
    margin: 15px 0 8px;
    letter-spacing: 0;
    font-size: 28px;
    line-height: 35px;
    font-weight: 300;
    color: #232424;
}
.BlogDetails {
    display: table;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 5px;
}
.secondcontactsection .BlogDetails .linku {
    background: #f4f4f4;
    padding: 7px 15px 7px 10px;
    margin: 0 10px 0 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #999999;
    font-size: 14px;
    display: inline-block;
}
.PostDescription {
    margin: 5px 0 8px;
}
.secondcontactsection .PostDescription p {
     color: #373838;
    letter-spacing: 0;
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    font-family: Roboto,sans-serif;
    position: relative;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.55555556;
}
.postcategorylist {
list-style: none;
    border-left: 1px solid #eee;
    display: table;
    width: 100%;
}
.helpdocs .postcategorylist
{
        background: #fafafa;
    background: -moz-linear-gradient(left, #fafafa 1%, #ffffff 37%, #ffffff 74%, #ffffff 100%);
    background: -webkit-linear-gradient(left, #fafafa 1%,#ffffff 37%,#ffffff 74%,#ffffff 100%);
    background: linear-gradient(to right, #fafafa 1%,#ffffff 37%,#ffffff 74%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#ffffff',GradientType=1 );
    padding-left: 16px;
    border-left: 0;
}
.postcategorylist li {
    display: block;
}
.postcategorylist li a {
 position: relative;
    color: #333;
    font-size: 15px;
    font-family: sans-serif,Roboto;
    padding: 9px 0;
    display: block;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    font-weight: 300;
}
.postcategorylist li a:hover {
    color: #02bad2;
}
.postcategorylist li a:after {
    content: "\f105";
    font-family: fontawesome;
    position: absolute;
    right: 7px;
    top: 27%;
}
.searchbox
{    position: relative;
    padding: 0 15px;margin-bottom: 20px;}
.form-control
{background-color: #fbfcfc;
    border: 1px solid #eaeaea;}
.searchbox a
{    position: absolute;
    right: 27px;
    top: 6px;}
h3.bloghelplink {
    font-weight: 400;
    color: #02bad2;
}
.termservice ul li
{color: #787a7c;
    letter-spacing: 0;
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    font-family: sans-serif,roboto;
    position: relative;
    font-weight: 300;
    margin-bottom: 10px;}
.termservice p
{}
.termservice p a
{font-weight: 300;
    color: #02bad2;}