@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
body {
    overflow-x: hidden;
    overflow-y: scroll;
    background: #f1f1f1;
    color: #414a51;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 1500px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    padding-top: 111px;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.gn-menu-main {
    display: none;
}

.navbarlogo img {
    transition: all .3s ease;
    max-height: 55px;
    padding-top: 5px;
}

.no-touch .gn-menu-main a.nohover:hover {
    background: transparent !important;
    color: #333!important;
}

.no-touch .gn-menu-main li.bigdevice {
    border-right: 0 !important;
}

.gn-menu-main>li.bigdevice:last-child {
    border-left: 0 !important;
    width: calc(100% - 60px);
}


/*Navbar CSS*/

.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 25px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #fff;
}

.navbar-default.active .navbar-nav>li>a:hover,
.navbar-default.active .navbar-nav>li>a:focus {
    color: #000;
}

.navbar-default .navbar-nav>li>a.getstartedheader {
    border: 1px solid #414a51;
    height: 40px;
    margin-top: 11px;
    margin-right: 15px;
    color: #fff;
    background: #0d515a;
    padding-top: 9px;
    border-radius: 3px;
    padding-left: 16px;
    padding-right: 15px;
}

.navbar-default.active .navbar-nav>li>a.getstartedheader {
    background: #02bad2;
    color: #fff;
    border-color: #05adc3;
}

.navbar-default .whitelogo {
    display: inline-block;
}

.navbar-default .coloredlogo {
    display: none;
}

.navbar-default.active .whitelogo {
    display: none;
}

.navbar-default.active .coloredlogo {
    display: inline-block;
}

.navbar-default {
    border-color: #1db0c3;
    background: #1fbbd0;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.navbar-default.active {
    background-color: #fff;
    border-color: #ddd;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}

.navbar-default.active .navbarlogo img {
    max-height: 72px;
    padding-top: 5px;
    margin-top: 14px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}


/*
.navbar-default .navbar-nav>li>a {
    color: inherit;
       -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
*/

.navbar-nav>li>.dropdown-menu {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDownSmall;
    animation-name: fadeInDownSmall;
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    min-width: 240px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding: 0;
    margin: 0;
    background-color: #fafafa;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
    border: 1px solid #f1f1f1;
    z-index: 101;
}


/*
.navbar-nav>li>.dropdown-menu {
        -webkit-animation-duration: .5s;
            animation-duration: .5s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
         }
*/

@-webkit-keyframes fadeInDownSmall {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fadeInDownSmall {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInDownSmall {
    -webkit-animation-name: fadeInDownSmall;
    animation-name: fadeInDownSmall;
}

.navbar-nav>li>.dropdown-menu a {
    padding: 12px 20px;
    font-size: 15px;
    border-bottom: 1px solid #f1f1f1;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: transparent;
}

.navbar-default.active .navbar-nav>.open>a,
.navbar-default.active .navbar-nav>.open>a:focus,
.navbar-default.active .navbar-nav>.open>a:hover {
    color: #444;
    background-color: transparent;
}

.navbar-default.active .navbar-nav>li>a {
    border-color: #ddd;
    background: transparent;
    color: #333;
}

.gn-menu-main .whitelogo {
    display: inline-block;
}

.gn-menu-main .coloredlogo {
    display: none;
}

.gn-menu-main.active .whitelogo {
    display: none;
}

.gn-menu-main.active .coloredlogo {
    display: inline-block;
}

.gn-menu-main {
    border-color: #1db0c3;
    background: #1fbbd0;
}

.gn-menu-main.active {
    border-color: #ddd;
    background: #fff;
}

.gn-menu-main.active .gn-icon-menu::before {
    background: #1fbbd0;
    box-shadow: 0 3px #fff, 0 -6px #1fbbd0, 0 -9px #ffffff, 0 -12px #1fbbd0 !important;
}

.gn-menu-main.active .gn-icon-menu:hover::before,
.gn-menu-main.active .gn-icon-menu.gn-selected:hover::before {
    background: #1fbbd0;
    box-shadow: 0 3px #fff, 0 -6px #1fbbd0, 0 -9px #ffffff, 0 -12px #1fbbd0 !important;
}

.gn-menu-main.active .gn-icon-menu.gn-selected::before {
    background: #1fbbd0;
    box-shadow: 0 3px #fff, 0 -6px #1fbbd0, 0 -9px #ffffff, 0 -12px #1fbbd0 !important;
}

.no-touch .gn-menu-main.active a:hover {
    background: #ffffff;
    color: white;
}

.gn-menu-main.active>li {
    border-right: 1px solid #fff;
}

.gn-menu-main {}


/*Banner Wrapper Start*/

.pagebanner {
    background: #fff;
    position: relative;
}

.pagebanner .carousel-inner {}

.pagebanner .glyphicon-chevron-left:before,
.pagebanner .glyphicon-chevron-right:before {
    opacity: 0;
    transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
}

.pagebanner:hover .glyphicon-chevron-left:before,
.pagebanner:hover .glyphicon-chevron-right:before {
    opacity: 1;
}

.glyphicon-chevron-left:before,
.glyphicon-chevron-right:before {
    content: "\f104";
    height: 50px;
    width: 50px;
    background: #4c4a4a;
    display: inline-block;
    border-radius: 50%;
    font-size: 40px;
    text-align: center;
    padding: 4px 6px 4px 1px;
    text-shadow: none;
    font-family: fontawesome;
}

.glyphicon-chevron-right:before {
    content: "\f105";
    padding: 4px 0px 4px 5px;
    font-family: fontawesome;
}

.itemtwobg {
    background-image: url(../img/banner2bg.jpg);
    background-size: cover;
}

.itemonebg {
    background-image: url(../img/banner1bg.jpg);
    background-repeat: repeat;
}

.pagebanner .carousel-control.left:hover .glyphicon-chevron-left:before,
.pagebanner .carousel-control.right:hover .glyphicon-chevron-right:before {
    background: #1fbbd0;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}

.pagebanner .bannerfeature1 {
    position: relative;
}

.pagebanner .bannerfeature1 img {
    margin-top: 150px;
}

.featuresbannerlist {
    padding-top: 79px;
}

.featuresbannerlist h1 {
    margin-top: 0;
    color: #333;
}

.featuresbannerlist h2 {
    font-size: 29px;
    color: #fff;
    font-weight: 300;
    background: #1fbbd0;
    padding: 5px 0 8px;
    text-align: center;
    border-radius: 20px;
}

.featuresbannerlist ul {
    list-style: none;
    padding-top: 20px;
}

.featuresbannerlist li {
    position: relative;
    text-align: right;
    display: table;
    margin-bottom: 10px;
    width: 100%;
}

.featuresbannerlist li span {
    display: inline-block;
    height: 35px;
    background: #fafafa;
    float: right;
    padding: 7px 12px;
    border: 1px solid #ddd;
    color: #1fbbd0;
}

.featuresbannerlist li i {
    position: relative;
    width: 43px;
    background: #1fbbd0;
    height: 35px;
    text-align: center;
    float: right;
}

.featuresbannerlist li i:before {
    content: "";
    height: 12px;
    width: 22px;
    border-bottom: 4px solid #fff;
    border-left: 4px solid #fff;
    display: inline-block;
    transform: rotate(-41deg);
    position: absolute;
    left: 11px;
    top: 8px;
}


/*Banner Wrapper Start End*/


/*Get Started Now*/

.pageimplinks {
    background: #fff;
    min-height: 100px;
    display: table;
    width: 100%;
    padding: 30px 0px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 1px 12px 2px #cecece;
}

.getstartwrapper {
    text-align: center;
}

.getstartwrapper .title {
    margin-top: 0;
    font-size: 38px;
    font-weight: 700;
    color: #343434;
    line-height: 1.2;
}

.getstartwrapper p {
    margin-bottom: 20px;
}

.getstartwrapper .btn.btn-default {
    background: #02bad2;
    color: #fff;
    font-size: 19px;
    border-color: #03afc5;
    padding: 12px 15px;
}

.getstartwrapper .btn.btn-default:hover {
    text-decoration: none;
    outline: none;
    background: #04a2b7;
    color: #fff;
    border-color: #068898;
}


/*Get Started Now end*/


/*feature section*/

.featuresection {
    padding: 60px 0 40px;
    text-align: center;
}

.featuresection .title {
    color: #005d69;
    display: inline-block;
    position: relative;
}

.featuresection .title:after {
    content: "";
    height: 5px;
    width: 80px;
    background: #02bad2;
    border-left: 25px solid #005d69;
    border-right: 25px solid #005d69;
    position: absolute;
    bottom: -10px;
    border-radius: 5px;
    left: calc(50% - 40px);
}

.featuresection .subtitle {
    font-size: 23px;
    margin-top: 9px;
    font-weight: 300;
}

.featureinner {
    background: #fff;
    display: table;
    width: 100%;
    padding: 20px;
    margin-top: 40px;
    border-radius: 4px;
}

.featureinner {
    font-family: 'Roboto', sans-serif;
    display: block;
    background: #fff;
    position: relative;
    text-align: center;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

.featureinner:after {
    box-shadow: 0 0 0 3px #02bad2;
    box-sizing: content-box;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: scale(0.8);
    transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
    width: 100%;
}

.featureinner:hover i {
    color: #02bad2;
}

.featureinner:hover .btntheme i {
    color: #fff;
}

.featureinner:hover:after {
    opacity: 1;
    transform: scale(1);
}

.featureinner figure img {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    filter: grayscale(100%);
}

.featureinner:hover figure img {
    filter: grayscale(0%);
}

.featureinner .titleinner {
    font-weight: 400;
    font-size: 26px;
    color: #444;
    transition: all .3s linear;
}

.featureinner:hover .titleinner {
    color: #02bad2;
}

.featureinner .subtitleinner {
    font-size: 17px;
    line-height: 1.3;
    margin-top: 0;
    font-weight: 300;
    font-family: sans-serif;
}


/*feature section end*/


/*why trackance*/

.featuresection.whyus .subtitle {
    line-height: 1.2;
}

.featuresection.whyus .whyusimage {
    margin-top: 40px;
}

.featuresection.whyus {
    padding: 40px 0;
    text-align: center;
    background: #fafafa;
}

.tabfeaturewrapper {
    display: table;
    width: 100%;
}

.tabfeatures {}

.tab-content>.active {
    -webkit-box-shadow: none;
    border: 1px solid #eee!important;
    box-shadow: none;
    background: #fff;
    outline: none;
    padding: 30px 15px;
    background-image: url(../img/tabbg.png);
    background-size: cover;
}

.tab-content>.active h1 {
    font-weight: 400;
    margin-top: 12px;
    font-size: 2.1em;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 15px;
}

.tabfeatures .nav-tabs>li {
    float: left;
    margin-bottom: 0px;
    width: 20%;
    display: inline-block;
}

.tabinnercontent .list-icons {
    list-style: none;
}

.tabinnercontent .list-icons li {
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    padding: 5px 0;
    text-align: left;
    position: relative;
    padding-left: 16px;
}

.tabinnercontent .list-icons li i {
    width: 25px;
    text-align: center;
    padding-right: 10px;
}

.tabinnercontent .list-icons li i:before {
    content: "";
    height: 7px;
    width: 14px;
    border-bottom: 2px solid #02bad2;
    border-left: 2px solid #02bad2;
    display: inline-block;
    transform: rotate(-41deg);
    position: absolute;
    left: 0px;
    top: 13px;
}

.tabfeatures .nav-tabs>li>a {
    line-height: 1.42857143;
    border-radius: 0;
    background: #eee;
    color: #444;
    padding: 14px 15px;
    font-weight: 300;
    font-size: 17px;
    font-family: sans-serif;
    border: 1px solid #ddd;
    border-bottom: 0;
    border-right: 1px solid #ddd !important;
    border-left: 1px solid #ddd !important;
    margin-right: -1px !important;
}

.tabfeatures .nav-tabs>li.active>a,
.tabfeatures .nav-tabs>li.active>a:focus,
.tabfeatures .nav-tabs>li.active>a:hover {
    color: #fff !important;
    background-color: #02bad2 !important;
    border: 0;
    border-bottom-color: transparent;
    border-bottom: 1px solid #02bad2 !important;
    position: relative;
}

.tabfeatures .nav-tabs>li.active>a:before,
.tabfeatures .nav-tabs>li.active>a:focus:before,
.tabfeatures .nav-tabs>li.active>a:hover:before {
    content: "";
    content: "";
    border-style: solid;
    border-width: 15px;
    border-color: rgb(2, 186, 210) transparent transparent transparent;
    position: absolute;
    left: calc(50% - 7px);
    bottom: -29px;
    display: block;
    width: 0;
    height: 0;
    z-index: 2;
}

.tabfeatures .nav-tabs>li>a:hover {
    background: #fff !important;
    color: #8f8f8f !important;
}

.tabinnercontent {
    min-height: 316px;
}

.tabinnercontent a,
.btntheme {
    color: #fff;
    background: #02bad2;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 400;
    padding: 11px 15px;
    border-radius: 2px;
}

.tabinnercontent a {
    margin-top: 15px;
    display: inline-block;
}

.btntheme {
    display: inline-block;
    margin: 15px auto 20px;
}

.btntheme:hover i {
    color: #fff;
}

.tabinnercontent a:hover,
.btntheme:hover,
.btntheme:focus .tabinnercontent:focus {
    background: #06a3b7;
    color: #fff;
    text-decoration: none;
    outline: none;
}

.tabinnercontent p {
    font-size: 16px;
    line-height: 1.5;
    color: #666666;
    padding: 5px 0;
    text-align: left;
    position: relative;
    padding-left: 16px;
    font-family: sans-serif;
    font-weight: 300;
}


/*why trackance end*/


/*Testimonial*/

.testimonial {
    padding: 50px 0;
}

.testimonialprofilepic {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 0 auto;
    padding: 3px;
    box-sizing: border-box;
    border: 2px dashed #02bad2;
}

.testimonialprofilecontent {
    font-size: 17px;
    font-weight: 300;
    font-family: sans-serif;
    padding: 20px;
    padding-bottom: 10px;
    position: relative;
    margin: 0;
}

.testimonialprofilecontent:before {
    content: "\f10d";
    position: absolute;
    top: 0;
    font-family: fontawesome;
    left: -6px;
    font-size: 24px;
    color: #02bad2;
}

.testimonial {
    background: #fff;
}

.carousel-indicators li {
    border: 1px solid #02bad2;
}

.carousel-indicators .active {
    background-color: #02bad2;
}

.clientnametesti {
    margin: 0;
    padding-bottom: 67px;
    font-size: 17px;
    padding-left: 20px;
    font-weight: 300;
    font-family: sans-serif;
    color: #9da2a2;
}

.clientnametesti span {
    display: block;
    color: #b5b5b5;
    margin-top: 4px;
    font-size: 17px;
    font-weight: 400;
}

a.scrolltop {
    height: 40px;
    width: 40px;
    position: fixed;
    background: rgba(72, 74, 74, 0.58);
    bottom: 22px;
    right: 6px;
    color: #fff;
    font-size: 31px;
    text-align: center;
    border-radius: 4px;
    display: none;
    transition: all .3s ease;
}

a.scrolltop.active {
    display: block !important;
}

a.scrolltop:hover,
a.scrolltop:focus {
    background: #02bad2;
    text-decoration: none;
    color: #fff;
}


/*Testimonial End*/


/*header top*/

.header-top {
    float: right;
    display: block;
    width: 50%;
    transition: all .3s ease;
}

.header-top a {
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
    padding: 5px 11px 6px;
    color: #7d7c7c;
    margin-bottom: 6px;
    font-family: sans-serif;
    font-weight: 400;
    position: relative;
}

.header-top a:hover,
.header-top a:focus {
    text-decoration: none;
    color: #7d7c7c;
}

.header-top a.call {
    color: #438eb9;
    font-size: 17px;
    padding-left: 19px;
}

.header-top a.call:before {
    content: "";
    position: absolute;
    left: -92px;
    width: 107px;
    height: 37px;
    background-image: url(../img/call.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar-default.active.down .navbarlogo img {
    max-height: 55px;
    padding-top: 5px;
    margin-top: 0!important;
}

.navbar-default.active.down .header-top {
    margin-top: -85px !important;
}

.mobileappsection {}

.mobileappsection h1 {
    font-weight: 400;
    margin-top: 70px;
    font-size: 2.1em;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 15px;
}

.mobileappsection p {
    font-size: 16px;
    line-height: 1.5;
    color: #666666;
    padding: 5px 0;
    text-align: left;
    position: relative;
    padding-left: 16px;
    font-family: sans-serif;
    font-weight: 300;
}

.mobileappsection p a {}

.btngoogleplay {
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
}

.btngoogleplay button {
    border-radius: 2px;
    border-radius: 2px;
    font-family: Roboto, sans-serif;
    border: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    padding: 6px 20px;
    padding-left: 10px;
    margin: inherit;
    background-color: #02bad2;
    color: #FFF;
    margin-right: 20px!important;
    box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.18);
}

.btngoogleplay button img {
    float: left;
    margin-right: 8px;
    margin-top: 5px;
    max-width: 100%;
    height: 28px;
}

.btngoogleplay .wrapperbtn {
    float: right;
}

.btngoogleplay .wrapperbtn .text {
    font-size: 15px;
    font-weight: 400;
    text-align: left;
}

.btngoogleplay .wrapperbtn .where {
    font-size: 16px;
    font-weight: 500;
}

.promotions {
    background: #fafafa;
     padding: 40px 0 100px;
}

.promotions .prom-inner {
    background: #ffffff;
    border-radius: 5px;
    padding-bottom: 15px;
    background-image: url(../img/graybg.png);
    background-repeat: repeat;
    display: table;
    width: 100%;
    position: relative;
    padding-top: 14px;
}

.promotions .prom-inner:after {
    width: 100%;
    left: 0;
    height: 30px;
    content: "";
    background-image: url(../img/shadow.png);
    background-repeat: no-repeat;
    position: absolute;
    bottom: -31px;
    background-size: 100% 20px;
}

.promotions .prom-inner h1 {
    font-size: 22px;
}
/*footer CSS*/
.footer-top {
    min-height: 200px;
    background-color: #eee;
    padding: 30px 0;
    background-image: url(../img/graybg.png);
    background-repeat: repeat;
}
.footer-top .graylogo
{margin-bottom: 30px;}
.footer-bottom {
    background: #e8e8e8;
    border-top: 1px solid #dcdcdc;
    min-height: 20px;
    padding: 8px 0;
}

.footersections {}

.footersections h3 {
    font-weight: 400;
    font-size: 20px;
    margin-top: 0;
    color: #333;
}

.footersections ul {
    padding: 0;
    list-style: none;
}

.footersections ul li {}

.footersections ul li a {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #888888;
    display: block;
    padding: 4px 0;
    position: relative;
    padding-left: 15px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}

.footersections ul li a:hover,
.footersections ul li a:focus {
    color: #02bad2;
    text-decoration: none;
    padding-left: 20px;
}

.footersections ul li a:after {
    content: "\f105";
    font-family: fontawesome;
    left: 0;
    position: absolute;
    top: 3px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}
.footersections a.btngoogleplay {
    margin-bottom: 30px;
}
.footersections ul li a:hover:after {
    transform: rotate(-180deg);
}
a.sociallinks {
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 23px;
    line-height: 40px;
        transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}
a.sociallinks:hover, a.sociallinks:focus
{background: #fff;text-decoration: none;outline: none;}
a.sociallinks.tw:hover i, a.sociallinks.tw:focus i
{    color: #55acee;}
a.sociallinks.fb:hover i, a.sociallinks.fb:focus i
{color: #3b5998;}
a.sociallinks.sk:hover i, a.sociallinks.sk:focus i
{    color: #00aff0;}
a.sociallinks.gp:hover i, a.sociallinks.gp:focus i
{color: #dd4b39;}
a.sociallinks.yt:hover i, a.sociallinks.yt:focus i
{color: #b31217;}
a.sociallinks.pn:hover i, a.sociallinks.pn:focus i
{color: #cb2027;}

.bottomcopyright {
    margin-bottom: 0;
    font-size: 15px;
    color: #969494;
    font-family: sans-serif;
    padding: 11px 10px 4px;
}